*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  padding:2rem;
  font-family: Arial, Helvetica, sans-serif; 
            background: linear-gradient(to right, #f32170, 
                    #ff6b08, #cf23cf, #eedd44); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
}
h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
            background: linear-gradient(to right, #998a90, 
                    #ba9a85, #cfaacf, #f1edc6); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
}
h1>p{
  font-size: 2rem;
}
#error{
  background-color: rgb(216, 164, 164);
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#error>p{
  color:rgb(152, 89, 89);
  font-size: 3rem;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
  background:white;
}
.group-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.group-table td {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #bcbcbc;
  color: #1e1e1e;
}

.group-table .label {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  background-color: #e0e0e0; 
  color: #333; 
}
